<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<body>

    <script type="text/javascript">

    function gotDevices(deviceInfos) {
        for (var i = 0; i !== deviceInfos.length; ++i) {
            var deviceInfo = deviceInfos[i];
            if (deviceInfo.kind === 'videoinput') {
                document.writeln("Device Id: " + deviceInfo.deviceId);
                document.writeln("Device Label: " + deviceInfo.label);
            }
        }
    }

    navigator.mediaDevices.enumerateDevices().then(gotDevices);

    </script>

</body>
</html>
